{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1 class="text-center">History</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date/Time</th>
                <th scope="col">Stock</th>
                <th scope="col">Number of Shares</th>
                <th scope="col">Bought or Sold</th>
                <th scope="col">Stock Price</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
                <tr>
                    <td>{{ purchase["date"] }}</td>
                    <td>{{ purchase["symbol"] }}</td>
                    <td>{{ purchase["shares"] }}</td>
                    <td>{{ purchase["type"] }}</td>
                    <td>{{ purchase["share_price"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
